MYSQL_HOST=your_mysql_internal_hostname
MYSQL_PORT=3306
MYSQL_DATABASE=dentiflow
MYSQL_USER=dentiflow_user
MYSQL_PASSWORD=your_secure_password
SECRET_KEY=replace_with_a_long_random_secret
FLASK_DEBUG=0
SESSION_COOKIE_SECURE=1
